body{
   
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
      background-color:black;
      color:#FF1493;
      margin: 0px;
      padding: 5px;
}